
html {
    box-sizing: border-box;
    font-family: 'Open Sans' Sans-Serif;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #c7e1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction:column;
}
header {
    display: flex;
    flex-direction: column;

    /* Nav Bar */
}
.nav-bar-items {
    list-style-type: none;
    background-color: #f5ff2f;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px 300px;
    border-radius: 15px;
}

.nav-item {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding:35px;
    border-radius: 10px;
}

    /* intro */
.business-intro {
    font-size: 25px;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
    /* Pricing options */
.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    box-shadow: 20px 20px 50px grey;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff ;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff ;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}

/* Form with Bootstrap */

.frm {

margin-top: 40px;
margin-bottom: 40px;
}

/* footer */

.page-foot {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border: 10px;
    width: 100%;
    border: 1px solid gray ;
    border-radius: 5px;
    background-color: #299bff;
}

/* Different Display using Flex */

@media (min-width: 900px){
    
    header{
        display: flex;
        flex-direction: column;
    }
    .nav-bar-items{
        display: flex;
        flex-direction: row;
    }

    .panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 960px;
       
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
        width: 48%; /* ! */

    }
    .pricing-plan:last-child {
        border-right: none;
    }

}

@media (min-width: 1280px) {  
    .pricing-plan {
        width: 32%;
    }

    .panel {
        max-width: 80%; 
    }
}